.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 0 1%;
  height: 5vh;
}

* {
  color: white;
}
