.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1% 1%;
  height: 7vh;
  border-bottom: silver 2px solid;
}

* {
  color: white;
}

.App-h1 {
  font-size: 28px;
  font-weight: 700;
}
